    <img src="images/distribution_bg.png" />
    <div class="col-xs-4 distribution-percentage">{{((data.processed_data.display_web / data.processed_data.display_total)*100)|round(1)}}%
    </div>
    <div class="col-xs-4 distribution-percentage">{{((data.processed_data.display_mobile / data.processed_data.display_total)*100)|round(1)}}%
    </div>
    <div class="col-xs-4 distribution-percentage">{{((data.processed_data.display_other / data.processed_data.display_total)*100)|round(1)}}%
    </div>
