{% extends "layout/base.html" %}

{% block content %}
{% if data.errors %}
  {% include 'partials/error.html' with {'html': data.errors[0].message} only %}
{% else %}
  {% include 'partials/report_banner.html' %}
  <div class="sub-section">
    {% include 'partials/actions.html' %}
  </div>
  <div class="sub-section">
    {% include 'partials/tweet_distribution.html' %}
  </div>
  <div class="sub-section">
    {% include 'partials/top_tweets.html' %}
  </div>
  <div class="sub-section">
    {% include 'partials/tweet_activity.html' %}
  </div>
  <div class="sub-section">
    {% include 'partials/most_popular.html' %}
  </div>
  <hr>
  <h1>Engagement</h1>
  Total engagement: {{data.processed_data.favorite_count + data.processed_data.retweet_count}}<br>
  Retweets: {{data.processed_data.retweet_count}}<br>
  Favorites: {{data.processed_data.favorite_count}}<br>
  <hr>
  <h2>Peak Engagement</h2>
  {{data.processed_data.peak_engagement_tweet.created_at|date("d.M Y")}}<br>
  {{data.processed_data.peak_engagement_tweet.text}} ({{data.processed_data.peak_engagement_tweet.retweeted_status.retweet_count}} retweets, {{data.processed_data.peak_engagement_tweet.retweeted_status.favorite_count}} favorites)<br>
  +{{data.processed_data.peak_difference|round(0)}}% above average
{% endif %}
{% endblock %}