{% extends "layout/base.html" %}

{% block content %}
{% if data.errors %}
  {% include 'partials/error.html' with {'html': data.errors[0].message} only %}
{% else %}
  <img src="{{data.profile.profile_banner_url}}/web" /><br>
  Total Posts: {{data.profile.statuses_count}}<br>
  Total Followers: {{data.profile.followers_count}}<br>
  Total Following: {{data.profile.friends_count}}<br>
  Total Favorites: {{data.profile.favourites_count}}<br>
  <hr>
  Total Retweets: {{data.processed_data.retweets}}<br>
  New Photos/Videos: {{data.processed_data.media}}<br>
  Favorits: {{data.profile.favourites_count}}<br>
  <hr>
  <h1>Distribution</h1>
  PC: {{((data.processed_data.display_web / data.processed_data.display_total)*100)|round(1)}}%<br>
  Mobile: {{((data.processed_data.display_mobile / data.processed_data.display_total)*100)|round(1)}}%<br>
  Other: {{((data.processed_data.display_other / data.processed_data.display_total)*100)|round(1)}}%<br>
  <hr>
  <h1>Top Tweets</h1>
  <ul>
    {% for tweet in data.processed_data.top_retweets %}
      <li>{{tweet.text}}</li>
    {% endfor %}
  </ul>
  <hr>
  <h1>Tweet Activity</h1>
  {% for i in range(1, 7) %}
    {{i}}: 
    {% for j in range(0, 23) %}
      {% if data.processed_data.calendar_activities[i][j] %}
        {{data.processed_data.calendar_activities[i][j]}}
      {% else %}
        0
      {% endif %}
    {% endfor %}
    <br>
  {% endfor %}
  Most Popular Day: {{data.processed_data.top_day}}<br>
  Most Popular Time: {{data.processed_data.top_time}}<br>
  <hr>
  <h1>Engagement</h1>
  Total engagement: {{data.processed_data.favorite_count + data.processed_data.retweet_count}}<br>
  Retweets: {{data.processed_data.retweet_count}}<br>
  Favorites: {{data.processed_data.favorite_count}}<br>
  <hr>
  <h2>Peak Engagement</h2>
  {{data.processed_data.peak_engagement_tweet.created_at|date("d.M Y")}}<br>
  {{data.processed_data.peak_engagement_tweet.text}} ({{data.processed_data.peak_engagement_tweet.retweeted_status.retweet_count}} retweets, {{data.processed_data.peak_engagement_tweet.retweeted_status.favorite_count}} favorites)
{% endif %}
{% endblock %}